@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme inline {
  --color-background: #FFFFFF;
  --color-foreground: #333333;
  --color-text-primary: #333333;
  --color-text-secondary: #555555;
  --color-secondary: #555555;
  --color-border: #E5E5E5;
  --color-nav-bg: #000000;
  --color-nav-link-inactive: #FFFFFF;
  --color-nav-link-active: #555555;
  --color-cta-bg: #000000;
  --color-cta-text: #FFFFFF;
  --font-inter: var(--font-inter), sans-serif;
}

body {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

