@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme inline {

  --color-text: #292524;
  --color-background: #E4E5D9;
  --color-primary: #1C1917;
  --color-secondary: #78716C;
  --color-accent: #166534;
  --color-artifact: #C3C3B9;


  /* Navigation colors */
  --color-nav-bg: #f5f5f4;
  /* --color-nav-link-inactive: #FFFFFF;
  --color-nav-link-active: #FAD11D;
  

  --color-cta-bg: #292524;
  --color-cta-text: #FFFFFF;

  --color-primary: #44403C;
  --color-secondary: #78716C;
  --color-accent: #292524;
  

  --color-text-primary: #2D2D2A;
  --color-text-secondary: #555555;
  --color-text-tertiary: #666666;
  --color-text-label: #888888;
  

  --color-border-primary: #000000;
  --color-border-secondary: #E5E5E5;
  --color-border-tertiary: #CCCCCC;
  

  --color-bg-primary: #E4E5D9;
  --color-bg-secondary: #FAFAFA;
  --color-bg-tertiary: #F5F5F5; */
  
  /* Font system */
  --font-inter: var(--font-inter), sans-serif;
}

body {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tech-item {
  position: relative !important;
  left: auto !important;
  top: auto !important;
  transform: none !important;
}

@media (min-width: 1280px) {
  .tech-item {
    position: absolute !important;
    left: var(--tech-left) !important;
    top: var(--tech-top) !important;
    transform: translateX(-50%) !important;
}
}

