@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Graduate";
  src: url("/fonts/Graduate-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crafty";
  src: url("/fonts/Crafty-Doodles-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bubblegum";
  src: url("/fonts/Bubblegum-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Truculenta";
  src: url("/fonts/Truculenta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-graduate: "Graduate", sans-serif;
  --font-crafty: "Crafty", sans-serif;
  --font-bubblegum: "Bubblegum", sans-serif;
  --font-truculenta: "Truculenta", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
